// @use './custom/herobg.scss' as *;
@use './custom/table.scss' as *;
@use './custom/ueda.scss' as *;
@use './custom/dl.scss' as *;
@use './custom/agree.scss' as *;

.red {
  color: red;
}

.topH3 {
  margin: 1em 0;
}
