---
// src/components/TopicGrid.astro
---

<div class="my-8 not-prose">
  <div class="mb-3 text-xs font-bold text-slate-500 dark:text-slate-400">関連Topic:</div>
  <div class="flex flex-wrap gap-3">
    <slot />
  </div>
</div>
