/* 用語説明等に使う一般的なDL */
dl.basic {
  width: 100%;
  display: grid;
  grid-template-columns: 200px 1fr;
  /* 上下の余白をギュッと詰めました */
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  border-top: 1px solid #ddd;

  dt,
  dd {
    margin: 0;
    padding: 15px 30px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    /* 上揃えにする（テキスト量が増えてもタイトルが上に固定される） */
    display: flex;
    align-items: flex-start;
  }

  dt {
    font-weight: bold;
    border-right: 1px solid #ddd; /* 縦線 */
  }

  /* モバイル対応 */
  @media screen and (max-width: 750px) {
    display: block;
    margin-top: 1rem; /* スマホではさらに詰める */

    dt {
      border-right: none;
      border-bottom: none;
      padding-bottom: 5px;
    }
    dd {
      padding-top: 0; /* タイトルと説明の距離を縮める */
      padding-bottom: 15px;
    }
  }
}
