/* .faq-page の中に閉じ込める */
.faq-page {
  h2,
  h3 {
    border-left: 5px solid var(--sl-color-accent);
    background: var(--sl-color-gray-6);
    padding: 0.5rem 1rem;
    font-size: 1.2rem;

    /* Q. をつける (疑似要素もネスト) */
    &::before {
      content: 'Q. ';
      color: var(--sl-color-accent);
    }
  }
}
