@use '../vars' as *; // vars.scssを読み込む。as * で接頭辞なしで使える。

/** 料金テーブル */
// .priceBoard {
//   font-size: 3rem;
//   font-weight: bold;
// }

// .rootMainText p {
//   font-size: 1.3em;
// }

.next-arrow {
  text-align: center;
  font-size: 5rem;
  color: orange;
  margin: 2rem 0;
}

figcaption {
  margin-top: 0;
  font-size: 0.9em;
}

/* このページ内の .faq-page の中の h2 だけに適用 */
.faq-page h2,
.faq-page h3 {
  border-left: 5px solid var(--sl-color-accent); /* Starlightのアクセントカラー */
  background: var(--sl-color-gray-6);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

/* Q. を自動でつける場合 */
.faq-page h2::before,
.faq-page h3::before {
  content: 'Q. ';
  color: var(--sl-color-accent);
}
